# Setting for SVN migrations

settings:
  repo_directory: './repos'
  github_account_name: 'clured'
  github_account_token: 'e0db16b9b2cfab7ee12e23d22bac9ad5'
  documentation_base: 'http://omeka.org/codex/Plugins/'
  api_wait: 60
  repos:
    - https://addons.omeka.org/svn/plugins/EadImporter/
    - https://addons.omeka.org/svn/plugins/NeatlineFeatures/ 
    - https://addons.omeka.org/svn/plugins/NeatlineMaps/ 
    - https://addons.omeka.org/svn/plugins/SolrSearch/
    - https://addons.omeka.org/svn/plugins/TeiDisplay/
    - https://addons.omeka.org/svn/plugins/VraCoreElementSet/
