# Setting for SVN migrations

settings:
  repo_directory: './repos'
  github_account_name: ''
  github_account_token: ''
  github_organization_name: ''
  documentation_base: 'http://omeka.org/codex/Plugins/'
  api_wait: 60
  repos:
    - https://addons.omeka.org/svn/plugins/EadImporter/
    - https://addons.omeka.org/svn/plugins/NeatlineFeatures/ 
    - https://addons.omeka.org/svn/plugins/NeatlineMaps/ 
    - https://addons.omeka.org/svn/plugins/SolrSearch/
    - https://addons.omeka.org/svn/plugins/TeiDisplay/
    - https://addons.omeka.org/svn/plugins/VraCoreElementSet/
